.charts {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.chart {
  width: 100%;
  max-width: 640px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.controls * {
  display: flex;
  padding: 8px;
}

.control {
  display: flex;
  justify-content: space-around;
}

.control select {
  border: none;
  outline: none;
}

.control select option {
  font-weight: bold;
}

.controls button {
  width: 100px;
  padding: 8px;
  outline: none;
  border-color: transparent;
  background: #2255ff;
  color: #ffffff;
  transition: all 0.5s;
}

.controls button:hover {
  background: #2b832b;
  transition: all 0.5s;
}


.line {
    fill: none;
    stroke: transparent;
    stroke-width: 3;
  }
  
  .overlay {
  fill: none;
  pointer-events: all;
  }
  
  /* Style the dots by assigning a fill and stroke */
  .dot {
    fill: transparent;
    stroke: #fff;
  }
  
  .focus circle {
  fill: none;
  stroke: steelblue;
  }
  
  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 0;
  }

  @media screen and (max-width: 640px) {
    .charts {
      flex-direction: column;
    }
  }